<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset='utf-8'>
        <meta name='viewport'
              content='width=device-width, initial-scale=1'>
        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
        <title>CLARIN Digital Object Gateway {% block title %}{% endblock title %}</title>
        {# @formatter:off #}
        <link rel='stylesheet'
              href="{% static 'dogui/style/_+DataTables.scss.css' %}"/>
        <link rel='shortcut icon'
              href="{% static 'dogui/style/CLARIN_favicon.gif' %}"/>
        {# @formatter:on #}
</head>
<body>
    {% block header %}
        {% include 'UI/_header.html' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'UI/_footer.html' %}
    {% endblock %}
</div>
</body>
</html>