{% extends 'UI/_.html' %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="main">
    <div class="p-3 mb-2 bg-jumbotron-classic rounded-3">
    <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold">Digital Object Gateway</h2>
        <p> The goal of DOG is to breach the gap between entries in repositories and referenced resources. Manually registered repository configuration provides a mapping between collection's landing page URL or PID allowing easy retrieval of referenced resources.</p>
        <p> Currently, DOG supports 3 primary functionalities:</p>
            <ul>
                <li>sniff - checks if input PID points to a registered repository</li>
                <li>fetch - fetches all PIDs of referenced resources in the metadata </li>
                <li>is pid - checks if input string is a DOG parsable PID</li>
            </ul>
        <p> Status table of currently registered repositories with DOG can be found below </p>


    <h3> {{ INSTANCE }} Digital Object Gateway</h3>
        {% block pid_form %}
            {%  if pid_form %}
                {% include 'UI/_form_pid.html' with form=pid_form %}
            {% endif %}
        {% endblock pid_form %}
        {% block result %}{% endblock result %}
    </div>
    </div>
    </div>
    <br>
    <h4> Currently registered repositories within DOG </h4>
    <div id="registered_repos_table">
        {% block registered_repos %}
            {% include 'UI/_registered_repositories_table.html' with reg_repos=reg_repos %}
        {% endblock registered_repos %}
    </div>
</div>
</div>
</div>
{% endblock content %}
