{% extends 'UI/_.html' %}
{% block content %}
<div id="content">
    Welcome to CLARIN-ERIC Digital Object Gate. The goal of DOG is to ease access to referenced resources in metadata.
    Currently, DOG supports 4 functionalities:
    <ul>
        <li>sniff - checks if input PID points to a registered repository</li>
        <li>fetch - fetches all PIDs of references resources in the metadata </li>
        <li>is pid - checks if input string is a DOG parsable PID</li>
        <li>expand data type - returns MIME Data Type taxonomy from <a href="">Data Type Registry</a></li>
    </ul>

    OpenAPI docummentation available under <a href=""></a>

    Source code for DOGlib available <a href="https://github.com/clarin-eric/DOGlib/">here</a>
    source code for DOGapp avaiable <a href="https://github.com/clarin-eric/DOGapp/">here</a>

    <h3> BETA Digital Object Gate </h3>

        {% block pid_form %}
            {%  if pid_form %}
                {% include 'UI/_form_pid.html' with form=pid_form %}
            {% endif %}
        {% endblock pid_form %}
        {% block result %}{% endblock result %}
    <div id="registered_repos_table">
        {% block registered_repos %}
            {% include 'UI/_registered_repositories_table.html' with reg_repos=reg_repos %}
        {% endblock registered_repos %}
    </div>
</div>
{% endblock content %}


