{% extends 'UI/_.html' %}
{% block content %}
<div id="content">
    Welcome to CLARIN ERIC Digital Object Gateway. The goal of DOG is to ease access to referenced resources in metadata.
    Currently, DOG supports 3 primary functionalities:
    <ul>
        <li>sniff - checks if input PID points to a registered repository</li>
        <li>fetch - fetches all PIDs of referenced resources in the metadata </li>
        <li>is pid - checks if input string is a DOG parsable PID</li>
    </ul>

    <h3> {{ INSTANCE }} Digital Object Gateway</h3>

        {% block pid_form %}
            {%  if pid_form %}
                {% include 'UI/_form_pid.html' with form=pid_form %}
            {% endif %}
        {% endblock pid_form %}
        {% block result %}{% endblock result %}
    <br>
    <h4> Currently registered repositories within DOG </h4>
    <div id="registered_repos_table">
        {% block registered_repos %}
            {% include 'UI/_registered_repositories_table.html' with reg_repos=reg_repos %}
        {% endblock registered_repos %}
    </div>
</div>
{% endblock content %}
