{% extends 'UI/_content.html' %}
{% block result %}
    <form method="GET" action="/">
        <div class='table-reponsive'>
            <table id='all_centres' class='datatables-table stripe order-column row-border'>
                <thead>
                    <tr>
                        <th>PID</th>
                        <th>Is DOG parseable</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pid, ispid_res in ispid_response.items %}
                        <tr>
                            <td><input type="checkbox" class="centered-checkbox" name="pid_field" value="{{ pid }}"> {{ pid }}</td>
                            <td>{{ ispid_res }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" name="functionality_field" value="sniff">Sniff selected</button>
        <button type="submit" name="functionality_field" value="fetch">Fetch selected</button>
    </form>
{% endblock result%}
