<table>
    <tr>
        <th>
            Repository
        </th>
        <th>
            URL
        </th>
        <th>
            DOI
        </th>
        <th>
            HDL
        </th>
    </tr>
    {% for repo_name, repo_status in repos_status.items %}
    <tr>
        <td>{{ repo_name }}</td>
        <td>
            {% if repo_status.url == 'NA' %}
            <em>-</em>
            {% elif repo_status.url == 'SUCCESS' %}
            <span class='positive'>Δ</span>
            {% else %}
            <span class='negative'>✗</span>
            {% endif %}
        </td>
        <td>
            {% if repo_status.doi == 'NA' %}
            <em>-</em>
                {% elif repo_status.doi == 'SUCCESS' %}
                    <span class='positive'>Δ</span>
                {% else %}
                    <span class='negative'>✗</span>
                {% endif %}
            </td>
                    <td>
                {% if repo_status.hdl == 'NA' %}
                    <em>-</em>
                {% elif repo_status.hdl == 'SUCCESS' %}
                    <span class='positive'>Δ</span>
                {% else %}
                    <span class='negative'>✗</span>
                {% endif %}
            </td>
    </tr>
    {% endfor %}
</table>