<table>
    <tr>
        <th>
            Repository
        </th>
        <th>
            URL
        </th>
        <th>
            HDL
        </th>
        <th>
            DOI
        </th>
    </tr>
    {% for repo_name, repo_status in repos_status.items %}
    <tr>
        <td>{{ repo_name }}</td>
        {% for pid_type, status in repo_status.items %}
            <td>
                {% if status == 'NA' %}
                    <em>-</em>
                {% elif status == 'SUCCESS' %}
                    <span class='positive'>Δ</span>
                {% else %}
                    <span class='negative'>✗</span>
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>