{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/" target="_self">
            <svg xmlns="http://w3.org" width="18" height="18" fill="currentColor" class="me-2" viewBox="0 0 16 16" aria-hidden="true" style="margin-bottom: 2px;">
                <path d="M9.405 1.02c-.252-.837-1.44-.837-1.69 0L7.388 2.2a2.747 2.747 0 0 1-1.417 1.623l-1.042-.51c-.812-.397-1.761.16-1.761 1.066L3.167 5.53A2.747 2.747 0 0 1 1.545 6.947l-1.18.33c-.837.252-.837 1.44 0 1.69l1.18.33a2.747 2.747 0 0 1 1.622 1.417l-.51 1.042c-.397.812.16 1.761 1.066 1.761l1.165-.001a2.747 2.747 0 0 1 1.417 1.623l.33 1.18c.252.837 1.44.837 1.69 0l.33-1.18a2.747 2.747 0 0 1 1.417-1.622l1.042.51c.812.397 1.761-.16 1.761-1.066l-.001-1.165a2.747 2.747 0 0 1 1.623-1.417l1.18-.33c.837-.252.837-1.44 0-1.69l-1.18-.33a2.747 2.747 0 0 1-1.622-1.417l.51-1.042c.397-.812-.16-1.761-1.066-1.761l-1.165.001a2.747 2.747 0 0 1-1.417-1.623zm-1.405 9.485a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5z"/>
            </svg>
            <span style="font-size: 18px;">Digital Object Gateway</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="dog-tab" href="/" data-discover="true">DOG</a>
                </li>
                {% if DTR_ENABLED %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="dtr-tab" href="/dtr" data-discover="true">DTR</a>
                </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="about-tab" href="/about" data-discover="true">About</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" href="/contact" data-discover="true">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link p-0" href="http://www.clarin.eu/" style="margin-left: 20px;">
                        <img src="static/dogui/style/clarin-logo-wide.png" width="119px" height="46px" alt="CLARIN Logo">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}
