{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/" target="_self">
            <i class="bi bi-gear-fill" style="font-size: 18px; margin-right: 8px;" aria-hidden="true"></i>
            <span style="font-size: 18px;">Digital Object Gateway</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="dog-tab" href="/" data-discover="true">DOG</a>
                </li>
                {% if DTR_ENABLED %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="dtr-tab" href="/dtr" data-discover="true">DTR</a>
                </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="about-tab" href="/about" data-discover="true">About</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" href="/contact" data-discover="true">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link p-0" href="http://www.clarin.eu/" style="margin-left: 20px;">
                        <img src="static/dogui/style/clarin-logo-wide.png" width="119px" height="46px" alt="CLARIN Logo">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}
